TESTMESSAGE = any text

### JWT-token info

private_key = "-----BEGIN PRIVATE KEY-----\nhere_write_generated_PRIVATE_key_from_cryptography_lib\n-----END PRIVATE KEY-----"

public_key = "-----BEGIN PUBLIC KEY-----\nhere_write_generated_PUBLIC_key_from_cryptography_lib\n-----END PUBLIC KEY-----"

algorithm = here write algorithm that you want to use, must match with algorithm from public and private keys.
###

# admin access_key
access_key = hex(64) key

# admin panel url
admin_panel_url = url safe hex(32)