<!doctype html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="index,follow" />
    
    <style data-project-fonts="true">
      @font-face {
        font-family: Inter;
        src: url("https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTfvgaQc78lA2.woff2");
        font-weight: 100 900;
      }

      @font-face {
        font-family: Inter;
        src: url("https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnYwYZ90A2B58.woff2");
        font-style: italic;
        font-weight: 100 900;
      }
    </style>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body id="login_body">
    <div id="il0ui">Login Form</div>
    <form method="get" id="login_form">
      <div id="iglh2"><label id="iotdu">Login</label></div>
      <input
        type="text"
        placeholder="Waiting for login..."
        required
        name="login_placeholder"
        id="i5b1h"
      />
      <div id="i16si"><label id="i6m4h">Password</label></div>
      <input
        type="password"
        required
        placeholder="Type your password here..."
        name="password_placeholder"
        id="ihjve"
      />
      <div id="iewdz"><button type="submit" id="iydpj">Login</button></div>
    </form>
  </body>
</html>
